{% extends "base.html" %}

{% block app_content %}

<h1>游戏参数说明</h1>
<a href="{{ url_for('decisions_1', gameid = g.id) }}">返回</a><br>
<img width=258 height=159 src="/static/help1/image002.png">
 <h2>供应商决定其提供的合约的参数：</h2>
<h3>（1）The wholesale price contract：</h3>
T=wQ<br>

① 商品质量：中<br>
供应商卖给零售商的价格w=3元/桶<br>
零售价r=5.5元/桶<br>
市场残值v=0.3元/桶<br>
零售商缺货惩罚成本p_r=1元/桶<br>
零售商每订购一桶面产生的其余成本c_r=0.5元/桶<br>

② 商品质量：高<br>
供应商卖给零售商的价格w=4元/桶<br>
零售价r=7元/桶<br>
市场残值v=0.5元/桶<br>
零售商缺货惩罚成本p_r=1元/桶<br>
零售商每订购一桶面产生的其余成本c_r=0.8元/桶<br>

③ 商品质量：低<br>
供应商卖给零售商的价格w=2元/桶<br>
零售价r=4元/桶<br>
市场残值v=0.1元/桶<br>

零售商缺货惩罚成本p_r=1元/桶<br>
零售商每订购一桶面产生的其余成本c_r=0.3元/桶<br>

<h3>（2）The buyback contract:<br></h3>
T=wQ-bI(Q)=bS(Q)+(w-b)Q<br>

① 商品质量：中<br>
供应商卖给零售商的价格w=3.5元/桶<br>
供应商回购零售商未卖出的剩余商品的价格b=0.8元/桶<br>
零售价r=5.5元/桶<br>
市场残值v=0.3元/桶<br>
零售商缺货惩罚成本p_r=1元/桶<br>
零售商每订购一桶面产生的其余成本c_r=0.5元/桶<br>

② 商品质量：高<br>
供应商卖给零售商的价格w=4.5元/桶<br>
供应商回购零售商未卖出的剩余商品的价格b=1元/桶<br>
零售价r=7元/桶<br>
市场残值v=0.5元/桶<br>
零售商缺货惩罚成本p_r=1元/桶<br>
零售商每订购一桶面产生的其余成本c_r=0.8元/桶<br>

③ 商品质量：低<br>
供应商卖给零售商的价格w=2.5元/桶<br>
供应商回购零售商未卖出的剩余商品的价格b=0.6元/桶<br>
零售价r=4元/桶<br>
市场残值v=0.1元/桶<br>
零售商缺货惩罚成本p_r=1元/桶<br>
零售商每订购一桶面产生的其余成本c_r=0.3元/桶<br>

<h3>（3）The revenue sharing contract<br></h3>
T=wQ+(1-∅)rS(Q)+(1-∅)vI(Q)
  =(1-∅)(r-v)S(Q)+(w+(1-∅)v)Q
<br>
① 商品质量：中<br>
供应商卖给零售商的价格w=2.5元/桶<br>
每卖出一桶面，零售商将其销售收入和该商品市场残值的一部分与支付给供应商，这个比例为（1-∅），此处设定：(1-∅)=0.1<br>
零售价r=5.5元/桶<br>
市场残值v=0.3元/桶<br>
零售商缺货惩罚成本p_r=1元/桶<br>
零售商每订购一桶面产生的其余成本c_r=0.5元/桶<br>

② 商品质量：高<br>
供应商卖给零售商的价格w=3.5元/桶<br>
每卖出一桶面，零售商将其销售收入和该商品市场残值的一部分与支付给供应商，这个比例为（1-∅）：此处设定：(1-∅)=0.08<br>
零售价r=7元/桶<br>
市场残值v=0.5元/桶<br>
零售商缺货惩罚成本p_r=1元/桶<br>
零售商每订购一桶面产生的其余成本c_r=0.8元/桶<br>

③ 商品质量：低<br>
供应商卖给零售商的价格w=1.5元/桶<br>
每卖出一桶面，零售商将其销售收入和该商品市场残值的一部分与支付给供应商，这个比例为（1-∅）：此处设定(1-∅)=0.12<br>
零售价r=4元/桶<br>
市场残值v=0.1元/桶<br>
零售商缺货惩罚成本p_r=1元/桶<br>
零售商每订购一桶面产生的其余成本c_r=0.3元/桶<br>

<h4>(4) EOQ Model:</h4>
① 商品质量：中<br>
订货单价：c=3元/桶<br>
I=25 percent/year<br>
单位时间单位货物量的持货成本：h=Ic<br>
每一次订货的固定成本：K=12<br>

② 商品质量：高<br>
订货单价：c=4元/桶<br>
I=20 percent/year<br>
单位时间单位货物量的持货成本：h=Ic<br>
每一次订货的固定成本：K=12<br>

③ 商品质量：低<br>
订货单价：c=2元/桶<br>
I=30 percent/year<br>
单位时间单位货物量的持货成本：h=Ic<br>
每一次订货的固定成本：K=12<br>


 <a href="{{ url_for('decisions_1', gameid = g.id) }}">返回</a>

{% endblock %}